.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard {
  background-color: var(--main-white);
}

.tree {
  width: 500px;
}

.cabinet {
  width: 100%;
  max-width: 1516px;
  border-radius: 8px;
  background: var(--main-white);
  padding: 32px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  &List {
    display: flex;
    gap: 30px;
  }

  &Item {
    width: 246px;
  }
}

.avatar {
  width: 200px;
  height: 200px;
  margin-right: 94px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  padding-bottom: 21px;
  margin-bottom: 48px;
  border-bottom: 1px solid #dee2e6;

  &Item {
    width: 246px;
  }
}

.footer {
  display: flex;
  gap: 48px;

  &Item {
    width: 246px;

    &:last-child {
      width: 840px;
    }
  }
}

.stats {
  display: flex;
  gap: 20px;

  &Item {
    width: 748px;
  }
}

.wrap {
  display: flex;
  gap: 20px;
}

.task {
  width: 492px;
}

.calendar {
  width: 1004px;
}
