.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  transition: all 0.5s ease;

  @media (max-width: 576px) {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }

  .collapseButton {
    @media (max-width: 576px) {
      display: none !important;
    }
  }

  .collapseMobileButton {
    display: none;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;

    @media (max-width: 576px) {
      position: absolute;
      top: 24px;
      right: 16px;
      display: flex;
      color: var(--main-white);
    }
  }

  &Collapsed {
    .collapseButton {
      transition: rotate 1s ease-out;
      transform: rotate(180deg);
    }

    .menu {
      height: calc(100% - 87px - 162px);
    }

    .support,
    .logout {
      padding: 12px;
      justify-content: center;
      span {
        display: none;
      }
    }
  }

  :global {
    .ant-menu-item,
    .ant-menu-submenu-title {
      width: 100%;
      margin: 4px 0;
      padding: 4px 24px;
    }

    .ant-menu-sub {
      .ant-menu-item {
        border-radius: 0;
        color: #bbdaff;
        padding-left: 24px !important;

        &.ant-menu-item-selected,
        &:hover {
          color: var(--main-white);
        }

        &.ant-menu-item-selected {
          background: #70b1ff;
        }
      }

      .ant-menu-submenu-title {
        border-radius: 0;
        color: #bbdaff;
      }
    }

    .ant-menu-inline-collapsed {
      .ant-menu-item,
      .ant-menu-submenu-title {
        padding: 4px calc(50% - 24px / 2);
      }
    }

    .ant-menu-submenu {
      &.ant-menu-submenu-open {
        background-color: #4496f9;
      }
    }

    // opened collapsed subMenu Background
    .ant-menu-light.ant-menu-submenu > .ant-menu {
      background-color: #4496f9;
      .ant-menu-item-selected {
        border-radius: 6px;
      }
    }

    // opened subMenu items style
    .ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
      border-radius: 6px;
    }
  }
}

:global {
  .sidebar-menu-popup.ant-menu-submenu-popup {
    .ant-menu,
    .ant-menu-submenu {
      background: #126dda;
    }

    .ant-menu-item,
    .ant-menu-submenu-title {
      width: 100%;
      margin: 4px 0;
    }

    .ant-menu-sub {
      .ant-menu-item {
        border-radius: 0;
        color: #bbdaff;

        &.ant-menu-item-selected,
        &:hover {
          color: var(--main-white);
        }

        &.ant-menu-item-selected {
          background: #70b1ff;
        }
      }

      .ant-menu-submenu-title {
        border-radius: 0;
        color: #bbdaff;
      }
    }

    .ant-menu-inline-collapsed {
      .ant-menu-item,
      .ant-menu-submenu-title {
        padding: 4px calc(50% - 24px / 2);
      }
    }

    .ant-menu-submenu {
      &.ant-menu-submenu-open {
        background-color: #4496f9;
      }
    }

    // opened collapsed subMenu Background
    .ant-menu-light.ant-menu-submenu > .ant-menu {
      background-color: #4496f9;
      .ant-menu-item-selected {
        border-radius: 6px;
      }
    }

    // opened subMenu items style
    .ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
      border-radius: 6px;
    }
  }
}

.collapseButton {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 32px;
  right: -16.5px;

  cursor: pointer;
  background-color: var(--main-white);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: var(--dark-gray-100);
  border: 1px solid var(--dark-gray-50);
  z-index: 9999;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 40px;
  transition: all 0.3s ease-in-out;

  @media (max-width: 576px) {
    padding: 32px 48px 32px 35px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.header {
  display: none;

  @media (max-width: 576px) {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px 45px 32px;
    background: #3b85dd;
    border-top: 1px solid #88b8f1;
    border-bottom: 1px solid #88b8f1;
    color: var(--main-white);
  }

  .gerb {
    width: 53.05px;
    height: 56px;
    background: url('../../../../assets/images/gerb.png') no-repeat center;
    background-size: contain;
  }

  .flag {
    width: 4px;
    height: 56px;
    background: url('../../../../assets/images/flag-thin.svg') no-repeat center;
    background-size: contain;
    margin-left: 15px;
    margin-right: 8px;
  }
}

.divider {
  width: 100%;
  background: #6097d9;
  height: 1px;
}

.menu {
  padding: 16px 16px 0;
  height: calc(100% - 185px - 161px);
  overflow: auto;

  @media (max-width: 576px) {
    height: calc(100% - 200px - 250px);
    padding: 16px;
  }
}
.menu::-webkit-scrollbar {
  width: 5px;
  transition: all 3s ease;
}
.menu::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  z-index: 9999;
  .divider {
    background: #4496f9;
    margin: 8px 0;
  }
}

.support,
.logout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 24px;
  height: 56px;
  gap: 8px;
  color: var(--main-white);
  cursor: pointer;
  text-transform: none;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: rgba(0, 0, 0, 0.06);
  }

  &:hover {
    color: var(--main-white);
  }

  span {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;

    animation-name: footerAnimation;
    animation-duration: 0.3s;
  }
}

@keyframes footerAnimation {
  0% {
    font-size: 0;
    transform: scaleX(0);
  }
  100% {
    font-size: 16px;
    transform: scaleX(1);
  }
}
